Flask>=2.2.5
Flask-Cors>=4.0.0
python-dotenv>=1.0.1
requests>=2.31.0
yfinance>=0.2.37
pandas>=2.2.2
numpy>=1.26.4
tensorflow>=2.15.0
scikit-learn>=1.4.2
joblib>=1.4.0
vaderSentiment>=3.3.2
textblob>=0.17.1
praw>=7.7.1
pandas-ta>=0.3.14b0
gunicorn